/* $Id: ie7-fixes.css,v 1.1.2.2 2009/11/11 05:26:25 sociotech Exp $ */

/* IE7 fixes
-------------------------------------------------------------- */
/* Lists */
ul li {
  list-style-image: url(../images/list-level-1_ie.png);
}

ul li ul li {
  list-style-image: url(../images/list-level-2_ie.png);
}

ul li ul li ul li {
  list-style-image: url(../images/list-level-3_ie.png);
}

/* prevent collapsing pager container */
ul.pager {
  height: 1%;
}

ul.pager li {
  line-height: 200%;
  margin-top: -3px;
}

ul.pager li.pager-first a,
ul.pager li.pager-previous a,
ul.pager li.pager-next a,
ul.pager li.pager-last a {
  margin: 0;
}

ul.pager li.pager-current {
  height: 21px;
}

ul.pager li.pager-item a:link,
ul.pager li.pager-item a:visited {
  display: block;
  height: 20px;
  margin-top: 0;
  padding: 0;
  width: 20px;
}

/* Clearfixes: specify elements to clear floats */
#secondary-menu-wrapper,
#header-top,
#header-site-info-wrapper,
#header-inner,
#search-box-wrapper,
#primary-menu-wrapper,
#header-group-inner,
ul.links.inline.uc-categories,
ul.pager,
.prosper-quicktabs .quicktabs_main,
.teaser {
  zoom: 1;
}

/* A. Avoid collapsing margin bug: move margin-bottom from block to block-inner */
.block {
  margin-bottom: 0;
}

.block > .inner {
  margin-bottom: 1.5em;
}

/* B. Now remove new margin from selected elements per style.css */
.primary-menu .inner,
.secondary-menu .inner,
.search-box .inner,
.header-group .block > .inner {
  margin-bottom: 0;
}

/* Ubercart */
/* Prevent elements from disappearing */
.product-group .content #product-details,
.block-uc_cart h2.block-title span {
  zoom: 1;
}

#uc-cart-checkout-form fieldset#comments-pane {
  background: #fff;
  clear: both;
}

/* Fixes issues with checkout form fieldset and legend */
#uc-cart-checkout-form fieldset {
  margin: 0 0 20px 0;
}

#uc-cart-checkout-form fieldset legend {
  height: 18px;
  margin-bottom: 20px;
  margin-left: 0;
  margin-top: 0;
  overflow: hidden;
  width: auto;
}